// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #1E8810;
$secondary: #ACC89D;
$dark: #095228;
$black: #3F301D;
$font-family-sans-serif: "Luckiest Guy", sans-serif !default;
$font-family-sans-serif: "Montserrat", sans-serif !default;

.navbar {
   font-family: 'Montserrat', sans-serif;
}


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here